# <link href="<%= url('/styles.css') %>" rel="stylesheet" >
<link href="styles/styles.css" rel="stylesheet" >

<h1> Staff Name : <span> <%= @staff_member_rendered.name %> </span></h1>
<h1> Staff Photo: </h1> <img src="<%=@staff_member_rendered.photo %>">
<h1> Position : <span> <%= @staff_member_rendered.position %> </span> </h1> 