<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- your main code goes here -->
  <h1> THIS IS ABOVE THE YIELD KEYWORD </h1>
  <%= yield %>
  <h1> THIS IS BELOW THE YIELD KEYWORD </h1>
</body>
</html>