<h1> This is my surprise joke. Surprise! </h1>

<h3> Multiple Jokes </h1>
<% @my_jokes.each do |single_joke| %>
    <h1> <%= single_joke %> </h1>
<% end %>

<% 10.times do %>
    <li>list item</li>
<% end %>

