<h1> My TMNT Team </h1>
<% @my_tmnt.each do |single_turtle| %>
    <h3> Turtle Name </h3> 
    <h4> <%= single_turtle.name %> </h4>
    <h3> Turtle Age </h3> 
    <h4> <%= single_turtle.age %> </h4>
<% end %>