<form action="/query" method="get">
  <input type="text" name="username" placeholder="Enter your username">
  <input type="number" name="id" placeholder="Enter your id">
  <input type="submit" value="Go">
</form>