/* * {
    box-sizing: border-box;
  }
   */


  img {
    display: inline-block;
    padding: 5px;
  }
  
  .container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .row {
    display: block;
    opacity: 0;
    animation: fadeIn 1s;
  }
  
  /* Each row of images */
  #row1 {
    animation-delay: 0.3s;
  }
  
  #row2 {
    animation-delay: 0.6s;
  }
  #row3 {
    animation-delay: 0.9s;
  }
  #row4 {
    animation-delay: 1.2s;
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @media only screen and (max-width: 667px) {
    img {
      width: 100%;
    }
  }