<form method="POST" action="/robots/new">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="angry" placeholder="angry">
  <input type="text" name="power" placeholder="power">
  <button type="submit" style="width:100px;height:100px">
</form>