<form action="/search" method="get">
  <input type="text" name="name" placeholder="Enter your name">
  <input type="text" name="genderaskldjsajdsjd" placeholder="Enter your gender">
  <input type="submit" value="Go">
</form>
