<form method="POST" action="/dogs"> 
    <input type="text" name="name" placeholder="Enter a name">
    <input type="text" name="breed"  placeholder="Enter a breed">  
    <input type="text" name="age" placeholder="Enter a age"> 
    <input type="submit" value="Submit">
</form>